node_modules
build
.expo
.github
.husky
.eslintrc.js
assets
babel.config.js
scripts
metro.config.js
# src/components/Account.tsx
# src/lib/supabase.ts
# src/screens/AuthLandingScreen.tsx
# src/screens/AuthLandingScreenNew.tsx